<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="styled__NewMemberShipContainer">
        <div class="LoginHeader__LoginHeader"></div>
        <div class="styled__NewMemberShipContainerInner">
            <div class="styled__LoginWrap">
                <div class="styled__LoginWrapInner">
                    <div class="styled__Title">
                        <p class="SignIn__KakaoLoginSubTitle">간편하게 로그인하고</p>
                        <p class="styled__KakaoLoginTitle">세상에 하나뿐인 <br> 특별한 프로젝트를 발견해보세요</p>
                    </div>
                    <button class="styled__KakaoButton" data-state="closed">
                        <div class="kakaoIcon">
                            <svg><path fill-rule="evenodd" clip-rule="evenodd" d="M13 3.25C6.99238 3.25 2.16663 6.99718 2.16663 11.5825C2.3636 14.7381 4.33329 17.4498 7.18935 18.6332L6.15526 22.3803C6.10602 22.4789 6.15526 22.6269 6.25375 22.6757C6.35223 22.7748 6.5492 22.7748 6.64769 22.6757L11.0303 19.7672C11.6704 19.8658 12.3106 19.9151 13 19.9151C18.9583 19.9151 23.8333 16.1679 23.8333 11.5825C23.8333 6.99718 19.0075 3.25 13 3.25" fill="black" fill-opacity="0.9"></path></svg>
                        </div>
                        카카오로 로그인
                    </button>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="styled__BgWrap">

            </div>
        </div>
    </div>
    <!--ctrl + / -->
    <!-- 회원가입 버튼 전까지 완성 -->
     <!-- TODO Button -->
</body>
</html>