<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login-page</title>
    <link rel="stylesheet" href="../static/css/login.css">
</head>
<body>
    <div class="styled__NewMemberShipContainer">
        <div class="LoginHeader__LoginHeader"></div>
        <div class="styled__NewMemberShipContainerInner">
            <div class="styled__LoginWrap">
                <div class="styled__LoginWrapInner">
                    <div class="styled__Title">
                        <p class="SignIn__KakaoLoginSubTitle">간편하게 로그인하고</p>
                        <p class="styled__KakaoLoginTitle">세상에 하나뿐인 <br> 특별한 프로젝트를 발견해보세요</p>
                    </div>
                    <button></button>
                    <div></div>
                    <div></div>
                </div>
            </div>
            <div class="styled__BgWrap">

            </div>
        </div>
    </div>
    <!--ctrl + / -->
    <!-- 회원가입 버튼 전까지 완성 -->
     <!-- TODO Button -->
</body>
</html>